<%- include('../includes/head.ejs') %> 

<link rel="stylesheet" href="/css/comics.css">

</head>
<body>
<%- include('../includes/nav.ejs') %> 
<main>
   <% if(comics.length > 0){ %>
        <h2 class="secondary-color-text">
            TUTTI I COMICS DISPONIBILI
        </h2>
        <div class="container_comics">
            <% for(let comic of comics){ %> 
                <article >
                    <img src="<%= comic.image %> " alt="comic image">
                    <h3 class="secondary-color-text title" style="text-align: center;"><%= comic.title %> </h3>
                    <hr>
                    <div style="text-align: center;">
                        <h6><%= comic.price %> $</h6>
                        <hr>
                        <div class="action">
                            <a href="/comic/<%= comic._id %> "><i class="fa-solid fa-eye"></i></a>
                            <%- include('../includes/add-to-cart.ejs',{comic:comic})%>
                        </div>
                    </div>
                </article>
            <% } %> 
        </div>
   <% } else{ %>  
    <h2>
        NESSUN COMICS DISPONIBILE
    </h2>
   <% } %> 
</main>

<%- include('../includes/end.ejs') %> 
